spring:
  application:
    name: employee-service
  datasource:
    url: jdbc:mysql://localhost:3306/employee_onboarding?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: Pstg@321
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
server:
  port: 8081


